In [23]:
import pandas as pd

csv = r'C:\Users\mattw\Documents\Bootcamp\project-one\US CENSUS DATA\Select_Housing_Characteristics\ACSDP1Y2010.DP04-2022-10-09T022729.csv'
df = pd.read_csv(filepath_or_buffer=csv, header=[0,1])   

df.drop([0,6,17,28,40,48,54,62,68,79,84,89,100,104,121,138,149],axis=0,inplace=True)

new_df = df.set_index(keys=['Unnamed: 0_level_0'])

stacked_df = new_df.stack(0)
stacked_df.reset_index()
# stacked_df.to_csv(path_or_buf=r'C:\Users\mattw\Documents\Bootcamp\project-one\US CENSUS DATA\Unpivoted\2010.csv', index_label=['Metric','City'],header=['Estimate','Estimate Margin of Error','Percent','Percent Margin of Error'])
stacked_df

                                                             Estimate  \
Unnamed: 0_level_0
(Total housing units,) Albuquerque city, New Mexico           240,232
                       Anaheim city, California               107,363
                       Anchorage municipality, Alaska         113,111
                       Arlington city, Texas                  146,638
                       Atlanta city, Georgia                  225,203
...                                                               ...
(Not computed,)        Tucson city, Arizona                     5,372
                       Tulsa city, Oklahoma                     4,712
                       Virginia Beach city, Virginia            2,848
                       Washington city, District of Columbia    9,204
                       Wichita city, Kansas                     2,866

                                                             Estimate Margin of Error  \
Unnamed: 0_level_0
(Total housing units,) Albuquerque city, New Mexico                            ±2,039
                       Anaheim city, California                                ±3,666
                       Anchorage municipality, Alaska                          ±1,046
                       Arlington city, Texas                                   ±3,785
                       Atlanta city, Georgia                                   ±5,823
...                                                                               ...
(Not computed,)        Tucson city, Arizona                                    ±1,240
                       Tulsa city, Oklahoma                                    ±1,103
                       Virginia Beach city, Virginia                             ±936
                       Washington city, District of Columbia                   ±1,514
                       Wichita city, Kansas                                      ±939

                                                              Percent  \
Unnamed: 0_level_0
(Total housing units,) Albuquerque city, New Mexico           240,232
                       Anaheim city, California               107,363
                       Anchorage municipality, Alaska         113,111
                       Arlington city, Texas                  146,638
                       Atlanta city, Georgia                  225,203
...                                                               ...
(Not computed,)        Tucson city, Arizona                       (X)
                       Tulsa city, Oklahoma                       (X)
                       Virginia Beach city, Virginia              (X)
                       Washington city, District of Columbia      (X)
                       Wichita city, Kansas                       (X)

                                                             Percent Margin of Error
Unnamed: 0_level_0
(Total housing units,) Albuquerque city, New Mexico                              (X)
                       Anaheim city, California                                  (X)
                       Anchorage municipality, Alaska                            (X)
                       Arlington city, Texas                                     (X)
                       Atlanta city, Georgia                                     (X)
...                                                                              ...
(Not computed,)        Tucson city, Arizona                                      (X)
                       Tulsa city, Oklahoma                                      (X)
                       Virginia Beach city, Virginia                             (X)
                       Washington city, District of Columbia                     (X)
                       Wichita city, Kansas                                      (X)

[9024 rows x 4 columns]