In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Set file location
master_data = "Datasets/CSV/Master_Data_Set.csv"

In [3]:
# Read in csv file to a dataframe
df = pd.read_csv(master_data)
df.head()

,Identifier,City_Rank_by_Population(2021),State,State_Abbreviation,City,Observation_Date,Single_Family_Median_Typical_Home_Value,One_Bedroom_Median_Typical_Home_Value,Two_Bedroom_Median_Typical_Home_Value,Three_Bedroom_Median_Typical_Home_Value,...,affordability_3br_30yr_Payment_10_Perc_Down,affordability_3br_30yr_Payment_20_Perc_Down,affordability_4br_15yr_Payment_10_Perc_Down,affordability_4br_15yr_Payment_20_Perc_Down,affordability_4br_30yr_Payment_10_Perc_Down,affordability_4br_30yr_Payment_20_Perc_Down,affordability_5_plus_br_15yr_Payment_10_Perc_Down,affordability_5_plus_br_15yr_Payment_20_Perc_Down,affordability_5_plus_br_30yr_Payment_10_Perc_Down,affordability_5_plus_br_30yr_Payment_20_Perc_Down
0,201101,1,New York,NY,New York,1/1/2011,460824.0,419555.5,549450.5,455413.0,...,0.60,0.67,0.36,0.40,0.51,0.58,0.29,0.32,0.41,0.46
1,201201,1,New York,NY,New York,1/1/2012,453166.5,421581.5,549293.0,448447.0,...,0.69,0.77,0.39,0.44,0.59,0.66,0.31,0.35,0.47,0.53
2,201301,1,New York,NY,New York,1/1/2013,467125.5,445182.5,579800.5,461446.5,...,0.66,0.74,0.38,0.43,0.56,0.63,0.30,0.34,0.44,0.50
3,201401,1,New York,NY,New York,1/1/2014,499898.0,487199.5,634870.5,493995.0,...,0.61,0.69,0.36,0.40,0.51,0.58,0.28,0.31,0.40,0.45
4,201501,1,New York,NY,New York,1/1/2015,526189.0,536285.0,689511.5,522588.5,...,0.63,0.71,0.36,0.40,0.53,0.59,0.27,0.30,0.40,0.45

In [4]:
# Check the data types
df.dtypes

Identifier                                             int64
City_Rank_by_Population(2021)                          int64
State                                                 object
State_Abbreviation                                    object
City                                                  object
                                                      ...
affordability_4br_30yr_Payment_20_Perc_Down          float64
affordability_5_plus_br_15yr_Payment_10_Perc_Down    float64
affordability_5_plus_br_15yr_Payment_20_Perc_Down    float64
affordability_5_plus_br_30yr_Payment_10_Perc_Down    float64
affordability_5_plus_br_30yr_Payment_20_Perc_Down    float64
Length: 70, dtype: object

In [5]:
# Convert "Observation_Date" to a date
df['Observation_Date'] = pd.to_datetime(df['Observation_Date'], format='%m/%d/%Y')

In [6]:
# Check that data types are now correct
df.dtypes

Identifier                                             int64
City_Rank_by_Population(2021)                          int64
State                                                 object
State_Abbreviation                                    object
City                                                  object
                                                      ...
affordability_4br_30yr_Payment_20_Perc_Down          float64
affordability_5_plus_br_15yr_Payment_10_Perc_Down    float64
affordability_5_plus_br_15yr_Payment_20_Perc_Down    float64
affordability_5_plus_br_30yr_Payment_10_Perc_Down    float64
affordability_5_plus_br_30yr_Payment_20_Perc_Down    float64
Length: 70, dtype: object

In [7]:
# Divide the Median Household Income by 12 to get a median monthly income
df['Median_Monthly_Income'] = df['Estimated_Median_Household_Income']/12

In [8]:
# Create affordability rates for all home types and loan periods. This is the Monthly_Affordability_Limit/monthly payment
# Rental Rate
df['percent_to_income_rent'] = df['Median_Rent']/df['Median_Monthly_Income']
# Single Family Home Affordability Rates
df['percent_to_income_home_15yr_Payment_10_Perc_Down'] = df['home_15yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_home_15yr_Payment_20_Perc_Down'] = df['home_15yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_home_30yr_Payment_10_Perc_Down'] = df['home_30yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_home_30yr_Payment_20_Perc_Down']  = df['home_30yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
# 1 Bedroom Home Affordability Rates
df['percent_to_income_1br_15yr_Payment_10_Perc_Down'] = df['1br_15yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_1br_15yr_Payment_20_Perc_Down'] = df['1br_15yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_1br_30yr_Payment_10_Perc_Down'] = df['1br_30yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_1br_30yr_Payment_20_Perc_Down']  = df['1br_30yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
# 2 Bedroom Home Affordability Rates
df['percent_to_income_2br_15yr_Payment_10_Perc_Down'] = df['2br_15yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_2br_15yr_Payment_20_Perc_Down'] = df['2br_15yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_2br_30yr_Payment_10_Perc_Down'] = df['2br_30yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_2br_30yr_Payment_20_Perc_Down']  = df['2br_30yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
# 3 Bedroom Home Affordability Rates
df['percent_to_income_3br_15yr_Payment_10_Perc_Down'] = df['3br_15yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_3br_15yr_Payment_20_Perc_Down'] = df['3br_15yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_3br_30yr_Payment_10_Perc_Down'] = df['3br_30yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_3br_30yr_Payment_20_Perc_Down']  = df['3br_30yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
# 4 Bedroom Home Affordability Rates
df['percent_to_income_4br_15yr_Payment_10_Perc_Down'] = df['4br_15yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_4br_15yr_Payment_20_Perc_Down'] = df['4br_15yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_4br_30yr_Payment_10_Perc_Down'] = df['4br_30yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_4br_30yr_Payment_20_Perc_Down']  = df['4br_30yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
# 5 Bedroom Home Affordability Rates
df['percent_to_income_5_plus_br_15yr_Payment_10_Perc_Down'] = df['5_plus_br_15yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_5_plus_br_15yr_Payment_20_Perc_Down'] = df['5_plus_br_15yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_5_plus_br_30yr_Payment_10_Perc_Down'] = df['5_plus_br_30yr_Payment_10_Perc_Down']/df['Median_Monthly_Income']
df['percent_to_income_5_plus_br_30yr_Payment_20_Perc_Down']  = df['5_plus_br_30yr_Payment_20_Perc_Down']/df['Median_Monthly_Income']

In [9]:
# Create Affordability Dataframe
percent_to_income_df = df[['Identifier', 'Observation_Date', 'Median_Monthly_Income', 'percent_to_income_rent', 'percent_to_income_home_15yr_Payment_10_Perc_Down', 'percent_to_income_home_15yr_Payment_20_Perc_Down', 'percent_to_income_home_30yr_Payment_10_Perc_Down', 'percent_to_income_home_30yr_Payment_20_Perc_Down', 'percent_to_income_1br_15yr_Payment_10_Perc_Down', 'percent_to_income_1br_15yr_Payment_20_Perc_Down', 'percent_to_income_1br_30yr_Payment_10_Perc_Down', 'percent_to_income_1br_30yr_Payment_20_Perc_Down', 'percent_to_income_2br_15yr_Payment_10_Perc_Down', 'percent_to_income_2br_15yr_Payment_20_Perc_Down', 'percent_to_income_2br_30yr_Payment_10_Perc_Down', 'percent_to_income_2br_30yr_Payment_20_Perc_Down','percent_to_income_3br_15yr_Payment_10_Perc_Down', 'percent_to_income_3br_15yr_Payment_20_Perc_Down', 'percent_to_income_3br_30yr_Payment_10_Perc_Down', 'percent_to_income_3br_30yr_Payment_20_Perc_Down', 'percent_to_income_4br_15yr_Payment_10_Perc_Down', 'percent_to_income_4br_15yr_Payment_20_Perc_Down', 'percent_to_income_4br_30yr_Payment_10_Perc_Down', 'percent_to_income_4br_30yr_Payment_20_Perc_Down', 'percent_to_income_5_plus_br_15yr_Payment_10_Perc_Down', 'percent_to_income_5_plus_br_15yr_Payment_20_Perc_Down', 'percent_to_income_5_plus_br_30yr_Payment_10_Perc_Down', 'percent_to_income_5_plus_br_30yr_Payment_20_Perc_Down']]

In [10]:
# View Affordability Dataframe
percent_to_income_df.head(10)

,Identifier,Observation_Date,Median_Monthly_Income,percent_to_income_rent,percent_to_income_home_15yr_Payment_10_Perc_Down,percent_to_income_home_15yr_Payment_20_Perc_Down,percent_to_income_home_30yr_Payment_10_Perc_Down,percent_to_income_home_30yr_Payment_20_Perc_Down,percent_to_income_1br_15yr_Payment_10_Perc_Down,percent_to_income_1br_15yr_Payment_20_Perc_Down,...,percent_to_income_3br_30yr_Payment_10_Perc_Down,percent_to_income_3br_30yr_Payment_20_Perc_Down,percent_to_income_4br_15yr_Payment_10_Perc_Down,percent_to_income_4br_15yr_Payment_20_Perc_Down,percent_to_income_4br_30yr_Payment_10_Perc_Down,percent_to_income_4br_30yr_Payment_20_Perc_Down,percent_to_income_5_plus_br_15yr_Payment_10_Perc_Down,percent_to_income_5_plus_br_15yr_Payment_20_Perc_Down,percent_to_income_5_plus_br_30yr_Payment_10_Perc_Down,percent_to_income_5_plus_br_30yr_Payment_20_Perc_Down
0,201101,2011-01-01,4121.750000,0.283375,0.728261,0.647344,0.506855,0.450539,0.663044,0.589371,...,0.500904,0.445248,0.841667,0.748148,0.585783,0.520696,1.042128,0.926337,0.725301,0.644712
1,201201,2012-01-01,4241.250000,0.281992,0.660850,0.587421,0.440448,0.391510,0.614788,0.546478,...,0.435860,0.387431,0.767396,0.682129,0.511460,0.454630,0.958328,0.851846,0.638713,0.567745
2,201301,2013-01-01,4351.916667,0.282175,0.672253,0.597557,0.460089,0.408969,0.640674,0.569487,...,0.454496,0.403997,0.781607,0.694761,0.534932,0.475494,0.990777,0.880692,0.678087,0.602746
3,201401,2014-01-01,4416.333333,0.288927,0.717817,0.638059,0.496398,0.441242,0.699583,0.621851,...,0.490536,0.436031,0.845271,0.751352,0.584537,0.519589,1.087508,0.966673,0.752054,0.668491
4,201501,2015-01-01,4646.000000,0.283470,0.708336,0.629632,0.477861,0.424763,0.721926,0.641711,...,0.474589,0.421858,0.846227,0.752202,0.570885,0.507454,1.118106,0.993872,0.754300,0.670491
5,201601,2016-01-01,4904.666667,0.275452,0.711861,0.632765,0.473863,0.421211,0.717906,0.638139,...,0.466823,0.414954,0.847083,0.752962,0.563875,0.501223,1.138408,1.011918,0.757801,0.673599
6,201701,2017-01-01,5073.250000,0.271818,0.761518,0.676905,0.515705,0.458404,0.745674,0.662822,...,0.506860,0.450544,0.903326,0.802957,0.611736,0.543766,1.216723,1.081532,0.823971,0.732418
7,201801,2018-01-01,5316.583333,0.271415,0.823450,0.731955,0.566710,0.503743,0.771424,0.685709,...,0.558332,0.496296,0.976349,0.867866,0.671939,0.597278,1.308726,1.163311,0.900686,0.800610
8,201901,2019-01-01,5783.916667,0.256401,0.744295,0.661597,0.497212,0.441967,0.674794,0.599817,...,0.487379,0.433225,0.877739,0.780212,0.586355,0.521206,1.186749,1.054889,0.792785,0.704697
9,202001,2020-01-01,5587.166667,0.266504,0.729595,0.648529,0.464217,0.412638,0.650816,0.578504,...,0.454459,0.403963,0.856516,0.761348,0.544974,0.484423,1.164594,1.035194,0.740995,0.658661

In [11]:
# Format the float fields to 3 decimal places
percent_to_income_df= percent_to_income_df.round(decimals = 2)

In [12]:
# View Resulting Dataframe
percent_to_income_df.head(10)

,Identifier,Observation_Date,Median_Monthly_Income,percent_to_income_rent,percent_to_income_home_15yr_Payment_10_Perc_Down,percent_to_income_home_15yr_Payment_20_Perc_Down,percent_to_income_home_30yr_Payment_10_Perc_Down,percent_to_income_home_30yr_Payment_20_Perc_Down,percent_to_income_1br_15yr_Payment_10_Perc_Down,percent_to_income_1br_15yr_Payment_20_Perc_Down,...,percent_to_income_3br_30yr_Payment_10_Perc_Down,percent_to_income_3br_30yr_Payment_20_Perc_Down,percent_to_income_4br_15yr_Payment_10_Perc_Down,percent_to_income_4br_15yr_Payment_20_Perc_Down,percent_to_income_4br_30yr_Payment_10_Perc_Down,percent_to_income_4br_30yr_Payment_20_Perc_Down,percent_to_income_5_plus_br_15yr_Payment_10_Perc_Down,percent_to_income_5_plus_br_15yr_Payment_20_Perc_Down,percent_to_income_5_plus_br_30yr_Payment_10_Perc_Down,percent_to_income_5_plus_br_30yr_Payment_20_Perc_Down
0,201101,2011-01-01,4121.75,0.28,0.73,0.65,0.51,0.45,0.66,0.59,...,0.50,0.45,0.84,0.75,0.59,0.52,1.04,0.93,0.73,0.64
1,201201,2012-01-01,4241.25,0.28,0.66,0.59,0.44,0.39,0.61,0.55,...,0.44,0.39,0.77,0.68,0.51,0.45,0.96,0.85,0.64,0.57
2,201301,2013-01-01,4351.92,0.28,0.67,0.60,0.46,0.41,0.64,0.57,...,0.45,0.40,0.78,0.69,0.53,0.48,0.99,0.88,0.68,0.60
3,201401,2014-01-01,4416.33,0.29,0.72,0.64,0.50,0.44,0.70,0.62,...,0.49,0.44,0.85,0.75,0.58,0.52,1.09,0.97,0.75,0.67
4,201501,2015-01-01,4646.00,0.28,0.71,0.63,0.48,0.42,0.72,0.64,...,0.47,0.42,0.85,0.75,0.57,0.51,1.12,0.99,0.75,0.67
5,201601,2016-01-01,4904.67,0.28,0.71,0.63,0.47,0.42,0.72,0.64,...,0.47,0.41,0.85,0.75,0.56,0.50,1.14,1.01,0.76,0.67
6,201701,2017-01-01,5073.25,0.27,0.76,0.68,0.52,0.46,0.75,0.66,...,0.51,0.45,0.90,0.80,0.61,0.54,1.22,1.08,0.82,0.73
7,201801,2018-01-01,5316.58,0.27,0.82,0.73,0.57,0.50,0.77,0.69,...,0.56,0.50,0.98,0.87,0.67,0.60,1.31,1.16,0.90,0.80
8,201901,2019-01-01,5783.92,0.26,0.74,0.66,0.50,0.44,0.67,0.60,...,0.49,0.43,0.88,0.78,0.59,0.52,1.19,1.05,0.79,0.70
9,202001,2020-01-01,5587.17,0.27,0.73,0.65,0.46,0.41,0.65,0.58,...,0.45,0.40,0.86,0.76,0.54,0.48,1.16,1.04,0.74,0.66

In [13]:
# Save affordability_df to csv
percent_to_income_df.to_csv('Datasets/CSV/percent_to_income_scores.csv', index=False)

In [14]:
# Save affordability_df to Excel file
percent_to_income_df.to_excel("Datasets/percent_to_income_scores.xlsx", sheet_name='Data', index=False)