In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Set file location
master_data = "Datasets/CSV/Master_Data_Set.csv"

In [3]:
# Read in csv file to a dataframe
df = pd.read_csv(master_data)
df.head()

,Identifier,City_Rank_by_Population(2021),State,State_Abbreviation,City,Observation_Date,Single_Family_Median_Typical_Home_Value,One_Bedroom_Median_Typical_Home_Value,Two_Bedroom_Median_Typical_Home_Value,Three_Bedroom_Median_Typical_Home_Value,...,3br_30yr_Payment_10_Perc_Down,3br_30yr_Payment_20_Perc_Down,4br_15yr_Payment_10_Perc_Down,4br_15yr_Payment_20_Perc_Down,4br_30yr_Payment_10_Perc_Down,4br_30yr_Payment_20_Perc_Down,5_plus_br_15yr_Payment_10_Perc_Down,5_plus_br_15yr_Payment_20_Perc_Down,5_plus_br_30yr_Payment_10_Perc_Down,5_plus_br_30yr_Payment_20_Perc_Down
0,201101,1,New York,NY,New York,1/1/2011,460824.0,419555.5,549450.5,455413.0,...,2064.60,1835.20,3469.14,3083.68,2414.45,2146.18,4295.39,3818.13,2989.51,2657.34
1,201201,1,New York,NY,New York,1/1/2012,453166.5,421581.5,549293.0,448447.0,...,1848.59,1643.19,3254.72,2893.08,2169.23,1928.20,4064.51,3612.89,2708.94,2407.95
2,201301,1,New York,NY,New York,1/1/2013,467125.5,445182.5,579800.5,461446.5,...,1977.93,1758.16,3401.49,3023.54,2327.98,2069.31,4311.78,3832.70,2950.98,2623.10
3,201401,1,New York,NY,New York,1/1/2014,499898.0,487199.5,634870.5,493995.0,...,2166.37,1925.66,3733.00,3318.22,2581.51,2294.68,4802.80,4269.15,3321.32,2952.28
4,201501,1,New York,NY,New York,1/1/2015,526189.0,536285.0,689511.5,522588.5,...,2204.94,1959.95,3931.57,3494.73,2652.33,2357.63,5194.72,4617.53,3504.48,3115.10

In [4]:
# Check the data types
df.dtypes

Identifier                                       int64
City_Rank_by_Population(2021)                    int64
State                                           object
State_Abbreviation                              object
City                                            object
Observation_Date                                object
Single_Family_Median_Typical_Home_Value        float64
One_Bedroom_Median_Typical_Home_Value          float64
Two_Bedroom_Median_Typical_Home_Value          float64
Three_Bedroom_Median_Typical_Home_Value        float64
Four_Bedroom_Median_Typical_Home_Value         float64
Five_Plus_Bedroom_Median_Typical_Home_Value    float64
Estimated_Median_Household_Income                int64
2021_estimated_population                        int64
2020_census                                      int64
Median_Taxes                                     int64
Median_Rent                                      int64
AnnualAverageRate15Year                        float64
AnnualAverageRate30Year                        float64
home_15yr_Payment_10_Perc_Down                 float64
home_15yr_Payment_20_Perc_Down                 float64
home_30yr_Payment_10_Perc_Down                 float64
home_30yr_Payment_20_Perc_Down                 float64
1br_15yr_Payment_10_Perc_Down                  float64
1br_15yr_Payment_20_Perc_Down                  float64
1br_30yr_Payment_10_Perc_Down                  float64
1br_30yr_Payment_20_Perc_Down                  float64
2br_15yr_Payment_10_Perc_Down                  float64
2br_15yr_Payment_20_Perc_Down                  float64
2br_30yr_Payment_10_Perc_Down                  float64
2br_30yr_Payment_20_Perc_Down                  float64
3br_15yr_Payment_10_Perc_Down                  float64
3br_15yr_Payment_20_Perc_Down                  float64
3br_30yr_Payment_10_Perc_Down                  float64
3br_30yr_Payment_20_Perc_Down                  float64
4br_15yr_Payment_10_Perc_Down                  float64
4br_15yr_Payment_20_Perc_Down                  float64
4br_30yr_Payment_10_Perc_Down                  float64
4br_30yr_Payment_20_Perc_Down                  float64
5_plus_br_15yr_Payment_10_Perc_Down            float64
5_plus_br_15yr_Payment_20_Perc_Down            float64
5_plus_br_30yr_Payment_10_Perc_Down            float64
5_plus_br_30yr_Payment_20_Perc_Down            float64
dtype: object

In [5]:
# Convert "Observation_Date" to a date
df['Observation_Date'] = pd.to_datetime(df['Observation_Date'], format='%m/%d/%Y')

In [6]:
# Check that data types are now correct
df.dtypes

Identifier                                              int64
City_Rank_by_Population(2021)                           int64
State                                                  object
State_Abbreviation                                     object
City                                                   object
Observation_Date                               datetime64[ns]
Single_Family_Median_Typical_Home_Value               float64
One_Bedroom_Median_Typical_Home_Value                 float64
Two_Bedroom_Median_Typical_Home_Value                 float64
Three_Bedroom_Median_Typical_Home_Value               float64
Four_Bedroom_Median_Typical_Home_Value                float64
Five_Plus_Bedroom_Median_Typical_Home_Value           float64
Estimated_Median_Household_Income                       int64
2021_estimated_population                               int64
2020_census                                             int64
Median_Taxes                                            int64
Median_Rent                                             int64
AnnualAverageRate15Year                               float64
AnnualAverageRate30Year                               float64
home_15yr_Payment_10_Perc_Down                        float64
home_15yr_Payment_20_Perc_Down                        float64
home_30yr_Payment_10_Perc_Down                        float64
home_30yr_Payment_20_Perc_Down                        float64
1br_15yr_Payment_10_Perc_Down                         float64
1br_15yr_Payment_20_Perc_Down                         float64
1br_30yr_Payment_10_Perc_Down                         float64
1br_30yr_Payment_20_Perc_Down                         float64
2br_15yr_Payment_10_Perc_Down                         float64
2br_15yr_Payment_20_Perc_Down                         float64
2br_30yr_Payment_10_Perc_Down                         float64
2br_30yr_Payment_20_Perc_Down                         float64
3br_15yr_Payment_10_Perc_Down                         float64
3br_15yr_Payment_20_Perc_Down                         float64
3br_30yr_Payment_10_Perc_Down                         float64
3br_30yr_Payment_20_Perc_Down                         float64
4br_15yr_Payment_10_Perc_Down                         float64
4br_15yr_Payment_20_Perc_Down                         float64
4br_30yr_Payment_10_Perc_Down                         float64
4br_30yr_Payment_20_Perc_Down                         float64
5_plus_br_15yr_Payment_10_Perc_Down                   float64
5_plus_br_15yr_Payment_20_Perc_Down                   float64
5_plus_br_30yr_Payment_10_Perc_Down                   float64
5_plus_br_30yr_Payment_20_Perc_Down                   float64
dtype: object

In [7]:
# Divide the Median Household Income by 12 to get a median monthly income
df['Median_Monthly_Income'] = df['Estimated_Median_Household_Income']/12

In [8]:
# Multiply the Median_Monthly_Income by 0.3 to determine 30% of monthly income. This is the affordability limit.
df['Monthly_Affordability_Limit'] = df['Median_Monthly_Income']*0.3

In [9]:
# Create affordability rates for all home types and loan periods. This is the Monthly_Affordability_Limit/monthly payment
# Rental Rate
df['affordability_rent'] = df['Monthly_Affordability_Limit']/df['Median_Rent']
# Single Family Home Affordability Rates
df['affordability_home_15yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['home_15yr_Payment_10_Perc_Down']
df['affordability_home_15yr_Payment_20_Perc_Down'] = df['Monthly_Affordability_Limit']/df['home_15yr_Payment_20_Perc_Down']
df['affordability_home_30yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['home_30yr_Payment_10_Perc_Down']
df['affordability_home_30yr_Payment_20_Perc_Down']  = df['Monthly_Affordability_Limit']/df['home_30yr_Payment_20_Perc_Down']
# 1 Bedroom Home Affordability Rates
df['affordability_1br_15yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['1br_15yr_Payment_10_Perc_Down']
df['affordability_1br_15yr_Payment_20_Perc_Down'] = df['Monthly_Affordability_Limit']/df['1br_15yr_Payment_20_Perc_Down']
df['affordability_1br_30yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['1br_30yr_Payment_10_Perc_Down']
df['affordability_1br_30yr_Payment_20_Perc_Down']  = df['Monthly_Affordability_Limit']/df['1br_30yr_Payment_20_Perc_Down']
# 2 Bedroom Home Affordability Rates
df['affordability_2br_15yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['2br_15yr_Payment_10_Perc_Down']
df['affordability_2br_15yr_Payment_20_Perc_Down'] = df['Monthly_Affordability_Limit']/df['2br_15yr_Payment_20_Perc_Down']
df['affordability_2br_30yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['2br_30yr_Payment_10_Perc_Down']
df['affordability_2br_30yr_Payment_20_Perc_Down']  = df['Monthly_Affordability_Limit']/df['2br_30yr_Payment_20_Perc_Down']
# 3 Bedroom Home Affordability Rates
df['affordability_3br_15yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['3br_15yr_Payment_10_Perc_Down']
df['affordability_3br_15yr_Payment_20_Perc_Down'] = df['Monthly_Affordability_Limit']/df['3br_15yr_Payment_20_Perc_Down']
df['affordability_3br_30yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['3br_30yr_Payment_10_Perc_Down']
df['affordability_3br_30yr_Payment_20_Perc_Down']  = df['Monthly_Affordability_Limit']/df['3br_30yr_Payment_20_Perc_Down']
# 4 Bedroom Home Affordability Rates
df['affordability_4br_15yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['4br_15yr_Payment_10_Perc_Down']
df['affordability_4br_15yr_Payment_20_Perc_Down'] = df['Monthly_Affordability_Limit']/df['4br_15yr_Payment_20_Perc_Down']
df['affordability_4br_30yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['4br_30yr_Payment_10_Perc_Down']
df['affordability_4br_30yr_Payment_20_Perc_Down']  = df['Monthly_Affordability_Limit']/df['4br_30yr_Payment_20_Perc_Down']
# 5 Bedroom Home Affordability Rates
df['affordability_5_plus_br_15yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['5_plus_br_15yr_Payment_10_Perc_Down']
df['affordability_5_plus_br_15yr_Payment_20_Perc_Down'] = df['Monthly_Affordability_Limit']/df['5_plus_br_15yr_Payment_20_Perc_Down']
df['affordability_5_plus_br_30yr_Payment_10_Perc_Down'] = df['Monthly_Affordability_Limit']/df['5_plus_br_30yr_Payment_10_Perc_Down']
df['affordability_5_plus_br_30yr_Payment_20_Perc_Down']  = df['Monthly_Affordability_Limit']/df['5_plus_br_30yr_Payment_20_Perc_Down']

In [10]:
# Create Affordability Dataframe
affordability_df = df[['Identifier', 'Observation_Date', 'Median_Monthly_Income', 'Monthly_Affordability_Limit', 'affordability_rent', 'affordability_home_15yr_Payment_10_Perc_Down', 'affordability_home_15yr_Payment_20_Perc_Down', 'affordability_home_30yr_Payment_10_Perc_Down', 'affordability_home_30yr_Payment_20_Perc_Down', 'affordability_1br_15yr_Payment_10_Perc_Down', 'affordability_1br_15yr_Payment_20_Perc_Down', 'affordability_1br_30yr_Payment_10_Perc_Down', 'affordability_1br_30yr_Payment_20_Perc_Down', 'affordability_2br_15yr_Payment_10_Perc_Down', 'affordability_2br_15yr_Payment_20_Perc_Down', 'affordability_2br_30yr_Payment_10_Perc_Down', 'affordability_2br_30yr_Payment_20_Perc_Down','affordability_3br_15yr_Payment_10_Perc_Down', 'affordability_3br_15yr_Payment_20_Perc_Down', 'affordability_3br_30yr_Payment_10_Perc_Down', 'affordability_3br_30yr_Payment_20_Perc_Down', 'affordability_4br_15yr_Payment_10_Perc_Down', 'affordability_4br_15yr_Payment_20_Perc_Down', 'affordability_4br_30yr_Payment_10_Perc_Down', 'affordability_4br_30yr_Payment_20_Perc_Down', 'affordability_5_plus_br_15yr_Payment_10_Perc_Down', 'affordability_5_plus_br_15yr_Payment_20_Perc_Down', 'affordability_5_plus_br_30yr_Payment_10_Perc_Down', 'affordability_5_plus_br_30yr_Payment_20_Perc_Down']]

In [11]:
# View Affordability Dataframe
affordability_df.head(10)

,Identifier,Observation_Date,Median_Monthly_Income,Monthly_Affordability_Limit,affordability_rent,affordability_home_15yr_Payment_10_Perc_Down,affordability_home_15yr_Payment_20_Perc_Down,affordability_home_30yr_Payment_10_Perc_Down,affordability_home_30yr_Payment_20_Perc_Down,affordability_1br_15yr_Payment_10_Perc_Down,...,affordability_3br_30yr_Payment_10_Perc_Down,affordability_3br_30yr_Payment_20_Perc_Down,affordability_4br_15yr_Payment_10_Perc_Down,affordability_4br_15yr_Payment_20_Perc_Down,affordability_4br_30yr_Payment_10_Perc_Down,affordability_4br_30yr_Payment_20_Perc_Down,affordability_5_plus_br_15yr_Payment_10_Perc_Down,affordability_5_plus_br_15yr_Payment_20_Perc_Down,affordability_5_plus_br_30yr_Payment_10_Perc_Down,affordability_5_plus_br_30yr_Payment_20_Perc_Down
0,201101,2011-01-01,4121.750000,1236.525,1.058669,0.411940,0.463432,0.591885,0.665869,0.452459,...,0.598917,0.673782,0.356436,0.400990,0.512135,0.576152,0.287873,0.323856,0.413621,0.465324
1,201201,2012-01-01,4241.250000,1272.375,1.063859,0.453961,0.510707,0.681125,0.766265,0.487973,...,0.688295,0.774332,0.390932,0.439799,0.586556,0.659877,0.313045,0.352177,0.469695,0.528406
2,201301,2013-01-01,4351.916667,1305.575,1.063172,0.446260,0.502044,0.652047,0.733552,0.468257,...,0.660071,0.742580,0.383824,0.431803,0.560819,0.630923,0.302793,0.340641,0.442421,0.497722
3,201401,2014-01-01,4416.333333,1324.900,1.038323,0.417934,0.470176,0.604353,0.679900,0.428827,...,0.611576,0.688024,0.354916,0.399280,0.513227,0.577379,0.275860,0.310343,0.398908,0.448772
4,201501,2015-01-01,4646.000000,1393.800,1.058314,0.423528,0.476469,0.627798,0.706276,0.415555,...,0.632126,0.711141,0.354515,0.398829,0.525500,0.591187,0.268311,0.301850,0.397719,0.447433
5,201601,2016-01-01,4904.666667,1471.400,1.089119,0.421431,0.474110,0.633094,0.712232,0.417882,...,0.642642,0.722972,0.354157,0.398426,0.532033,0.598536,0.263526,0.296467,0.395882,0.445369
6,201701,2017-01-01,5073.250000,1521.975,1.103680,0.393950,0.443193,0.581728,0.654444,0.402321,...,0.591879,0.665862,0.332106,0.373619,0.490408,0.551708,0.246564,0.277384,0.364091,0.409602
7,201801,2018-01-01,5316.583333,1594.975,1.105319,0.364321,0.409861,0.529371,0.595542,0.388891,...,0.537314,0.604478,0.307267,0.345676,0.446469,0.502278,0.229231,0.257885,0.333080,0.374714
8,201901,2019-01-01,5783.916667,1735.175,1.170044,0.403066,0.453448,0.603365,0.678784,0.444580,...,0.615537,0.692480,0.341787,0.384511,0.511635,0.575589,0.252791,0.284390,0.378413,0.425715
9,202001,2020-01-01,5587.166667,1676.150,1.125688,0.411187,0.462585,0.646249,0.727029,0.460959,...,0.660125,0.742642,0.350256,0.394038,0.550485,0.619294,0.257601,0.289801,0.404861,0.455469

In [14]:
# Format the float fields to 3 decimal places
affordability_df= affordability_df.round(decimals = 2)

In [15]:
# View Resulting Dataframe
affordability_df.head(10)

,Identifier,Observation_Date,Median_Monthly_Income,Monthly_Affordability_Limit,affordability_rent,affordability_home_15yr_Payment_10_Perc_Down,affordability_home_15yr_Payment_20_Perc_Down,affordability_home_30yr_Payment_10_Perc_Down,affordability_home_30yr_Payment_20_Perc_Down,affordability_1br_15yr_Payment_10_Perc_Down,...,affordability_3br_30yr_Payment_10_Perc_Down,affordability_3br_30yr_Payment_20_Perc_Down,affordability_4br_15yr_Payment_10_Perc_Down,affordability_4br_15yr_Payment_20_Perc_Down,affordability_4br_30yr_Payment_10_Perc_Down,affordability_4br_30yr_Payment_20_Perc_Down,affordability_5_plus_br_15yr_Payment_10_Perc_Down,affordability_5_plus_br_15yr_Payment_20_Perc_Down,affordability_5_plus_br_30yr_Payment_10_Perc_Down,affordability_5_plus_br_30yr_Payment_20_Perc_Down
0,201101,2011-01-01,4121.75,1236.53,1.06,0.41,0.46,0.59,0.67,0.45,...,0.60,0.67,0.36,0.40,0.51,0.58,0.29,0.32,0.41,0.46
1,201201,2012-01-01,4241.25,1272.38,1.06,0.45,0.51,0.68,0.77,0.49,...,0.69,0.77,0.39,0.44,0.59,0.66,0.31,0.35,0.47,0.53
2,201301,2013-01-01,4351.92,1305.58,1.06,0.45,0.50,0.65,0.73,0.47,...,0.66,0.74,0.38,0.43,0.56,0.63,0.30,0.34,0.44,0.50
3,201401,2014-01-01,4416.33,1324.90,1.04,0.42,0.47,0.60,0.68,0.43,...,0.61,0.69,0.36,0.40,0.51,0.58,0.28,0.31,0.40,0.45
4,201501,2015-01-01,4646.00,1393.80,1.06,0.42,0.48,0.63,0.71,0.42,...,0.63,0.71,0.36,0.40,0.53,0.59,0.27,0.30,0.40,0.45
5,201601,2016-01-01,4904.67,1471.40,1.09,0.42,0.47,0.63,0.71,0.42,...,0.64,0.72,0.35,0.40,0.53,0.60,0.26,0.30,0.40,0.44
6,201701,2017-01-01,5073.25,1521.98,1.10,0.39,0.44,0.58,0.65,0.40,...,0.59,0.67,0.33,0.37,0.49,0.55,0.25,0.28,0.36,0.41
7,201801,2018-01-01,5316.58,1594.98,1.10,0.36,0.41,0.53,0.60,0.39,...,0.54,0.60,0.31,0.35,0.45,0.50,0.23,0.26,0.33,0.38
8,201901,2019-01-01,5783.92,1735.18,1.17,0.40,0.45,0.60,0.68,0.44,...,0.62,0.69,0.34,0.38,0.51,0.58,0.25,0.28,0.38,0.43
9,202001,2020-01-01,5587.17,1676.15,1.13,0.41,0.46,0.65,0.73,0.46,...,0.66,0.74,0.35,0.39,0.55,0.62,0.26,0.29,0.40,0.46

In [19]:
# Save affordability_df to csv
affordability_df.to_csv('Datasets/CSV/affordability_scores.csv', index=False)

In [20]:
# Save affordability_df to Excel file
affordability_df.to_excel("Datasets/affordability_scores.xlsx", sheet_name='Data', index=False)